<div class="objects-page">
  <div class="grid m-2">
    <span
      class="col-4 page-mode"
      [ngClass]="{ 'selection-page-mode': pageMode === 'objects' }"
      pTooltip="{{ 'object.objects' | translate }}"
      tooltipPosition="bottom"
      (click)="onPageModeChange('objects')"
    >
      <i class="fa fa-bullseye mr-2"></i>
      <h2 *ngIf="!isSmallScreen">{{ "object.objects" | translate }}</h2>
    </span>
    <span
      class="col-4 page-mode"
      [ngClass]="{ 'selection-page-mode': pageMode === 'object-types' }"
      pTooltip="{{ 'object.uwbObjectTypes' | translate }}"
      tooltipPosition="bottom"
      (click)="onPageModeChange('object-types')"
    >
      <i class="fa fa-clone mr-2"></i>
      <h2 *ngIf="!isSmallScreen">{{ "object.uwbObjectTypes" | translate }}</h2>
    </span>
    <span
      class="col-4 page-mode"
      [ngClass]="{ 'selection-page-mode': pageMode === 'object-icons' }"
      pTooltip="{{ 'object.icons' | translate }}"
      tooltipPosition="bottom"
      (click)="onPageModeChange('object-icons')"
    >
      <i class="fa fa-file-picture-o mr-2"></i>
      <h2 *ngIf="!isSmallScreen">{{ "object.icons" | translate }}</h2>
    </span>
  </div>
  <ng-container [ngSwitch]="pageMode">
    <div class="object-table" *ngSwitchCase="'objects'">
      <uwb-table
        [columns]="columns"
        [values]="objects"
        [loading]="loading"
        [showHeaderSelect]="true"
        [showFilterOption]="true"
        (selectionChange)="onObjectSelected($event)"
      >
        <uwb-tree-select
          [treeSelectValue]="treeSelectItemSelected"
          [options]="treeSelectItems"
          [optionLabel]="'name'"
          [floatLabel]="false"
          [placeholder]="'background.organizationUnit' | translate"
          (modelChange)="onOrganizationUnitSelect($event)"
        ></uwb-tree-select>
        <div filter>
          <uwb-single-select
            [items]="dropdownFilterObjectTypeItems"
            [optionLabel]="'name'"
            [itemValue]="'id'"
            label="{{ 'object.uwbObjectType' | translate }}"
            (modelChange)="onObjectTypeFilterSelected($event)"
          ></uwb-single-select>
        </div>
      </uwb-table>
      <div class="buttons_container_center buttons_container_scale">
        <uwb-footer-buttons
          [disabledEditAndDeleteButton]="selectedObject === undefined"
          (emitAddClick)="openDialog()"
          (emitEditClick)="openDialog(true)"
          (emitDeleteClick)="openDeleteDialog()"
        >
        </uwb-footer-buttons>
      </div>
    </div>
    <div *ngSwitchCase="'object-types'">
      <uwb-object-types
        [userOrganizationUnitId]="userOrganizationUnitId"
        [treeSelectItems]="treeSelectItems"
        [treeSelectItemSelected]="treeSelectItemSelected"
        [selectedOrganizationUnit]="treeSelectItemSelected?.data"
        (emitTreeSelectItem)="onEmitTreeSelectItem($event)"
      ></uwb-object-types>
    </div>
    <div *ngSwitchCase="'object-icons'">
      <uwb-object-icons
        [userOrganizationUnitId]="userOrganizationUnitId"
        [treeSelectItems]="treeSelectItems"
        [treeSelectItemSelected]="treeSelectItemSelected"
        [selectedOrganizationUnit]="treeSelectItemSelected?.data"
        (emitTreeSelectItem)="onEmitTreeSelectItem($event)"
      ></uwb-object-icons>
    </div>
  </ng-container>
</div>
