<div
  class="anchors"
  [class]="
    isDialogOpen
      ? (smallScreen ? 'single_map_with_navbar_small_screen' : 'single_map_with_navbar')
      : (smallScreen ? 'single_map_with_navbar_and_footer_small_screen' : 'single_map_with_navbar_and_footer')
  "
>
  <div class="grid">
    <uwb-tree-select
      [class]="smallScreen ? 'col-12' : 'col-4'"
      [treeSelectValue]="treeSelectItemSelected"
      [options]="treeSelectItems"
      [optionLabel]="'name'"
      [label]="'background.organizationUnit' | translate"
      (modelChange)="onOrganizationUnitSelect($event)"
     ></uwb-tree-select>
    <uwb-single-select
      [class]="smallScreen ? 'col-12' : 'col-4'"
      [items]="backgrounds"
      optionLabel="name"
      label="{{ 'anchor.backgrounds' | translate }}"
      (modelChange)="onBackgroundSelect($event)"
      [itemTemplate]="itemTemplate"
    >
      <ng-template #itemTemplate let-item="item" pTemplate="item">
        <div class="flex align-items-center" pTooltip="{{ item.name }}">
          <img [src]="item.path" style="height: 30px" />
          {{ item.name }}
        </div>
      </ng-template>
    </uwb-single-select>

    <uwb-single-select
      [class]="smallScreen ? 'col-12' : 'col-4'"
      [value]="selectedAnchor"
      [showClear]="false"
      [isDisabled]="mapClickMode === 'add'"
      [items]="anchors"
      optionLabel="name"
      label="{{ 'anchor.anchors' | translate }}"
      (modelChange)="onAnchorSelect($event)"
    >
    </uwb-single-select>
  </div>
  <div class="grid" [class]="smallScreen ? 'flex-row' : 'flex-row-reverse'">
      <uwb-map-anchors
      [class]="isDialogOpen ? (smallScreen ? 'col-12' : 'col-8') : 'col-12'"
      [background]="selectedBackground?.fullPath!"
      [anchors]="anchors"
      [selectedMapPoint]="selectedAnchor"
      [mapClickMode]="mapClickMode"
      (emitNewPoint)="onAddNewPoint($event)"
      (emitEditSelectedPoint)="openDialog(true, $event)"
      (emitDeleteSelectedPoint)="openDeleteDialog($event)"
    ></uwb-map-anchors>
    <uwb-anchors-dialog
      *ngIf="isDialogOpen"
      [class]="smallScreen ? 'col-12' : 'col-4'"
      [edit]="isEditDialog"
      [selectedAnchor]="selectedAnchor"
      [selectedBackgroundId]="selectedBackground?.id"
      (emitCloseDialog)="handleDialogResponse($event)"
    ></uwb-anchors-dialog>
  </div>
  <div
    *ngIf="!isDialogOpen"
    class="buttons_container_center buttons_container_scale"
  >
    <uwb-footer-buttons
      [disabledAddButton]="selectedBackground === undefined"
      [showEditButton]="false"
      [showDeleteButton]="false"
      (emitAddClick)="openDialog()"
    >
    </uwb-footer-buttons>
  </div>
</div>
