<uwb-form [formGroup]="formGroup!" (ngSubmit)="onSave()" (cancel)="onCloseDialog()">
  <uwb-form-grid form-body>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="name" formControlName="name" />
        <label htmlFor="name">{{ 'client.name' | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <uwb-tree-select
        [treeSelectValue]="selectedParentClient"
        [options]="treeSelectItems"
        [optionLabel]="'name'"
        formControlName="orgUnit"
        label="{{ 'object.client' | translate }}"
      ></uwb-tree-select>
    </uwb-form-control>
  </uwb-form-grid>
</uwb-form>
