<uwb-form [formGroup]="formGroup!" (ngSubmit)="onSave()" (cancel)="onCloseDialog()">
  <uwb-form-grid form-body>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="name" formControlName="name" minlength="2" maxlength="100"/>
        <label htmlFor="name">{{ 'client.name' | translate }}</label>
      </span>
      <uwb-input-warn *ngIf="formGroup?.get('name')?.touched && formGroup?.get('name')?.invalid" [minLength]="2" [maxLength]="100"></uwb-input-warn>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <uwb-tree-select
        [options]="treeSelectItems"
        [optionLabel]="'name'"
        formControlName="parentOrganizationUnitId"
        label="{{ 'client.parentOrganizationUnit' | translate }}"
        (modelChange)="onParentOrganizationUnitSelect($event)"
      ></uwb-tree-select>
    </uwb-form-control>
  </uwb-form-grid>
</uwb-form>
