<div class="single_table_with_5buttons">
  <uwb-table
    [columns]="columns"
    [values]="backgrounds"
    [showHeaderSelect]="true"
    (selectionChange)="onBackgroundSelect($event)"
  >
    <uwb-tree-select
      [options]="treeSelectItems"
      [optionLabel]="'name'"
      [floatLabel]="false"
      [placeholder]="'background.organizationUnit' | translate"
      (modelChange)="onOrganizationUnitSelect($event)"
    ></uwb-tree-select>
  </uwb-table>
  <div class="buttons_container_center">
    <uwb-footer-buttons
      [styleClass]="'col px-2'"
      [disabledEditAndDeleteButton]="selectedBackground === undefined"
      (emitAddClick)="openDialog()"
      (emitEditClick)="openDialog(true)"
      (emitDeleteClick)="openDeleteDialog()"
    >
      <p-button
        class="col px-2"
        [disabled]="selectedBackground === undefined"
        label="{{ 'global.buttons.calibrate' | translate }}"
        (onClick)="openCalibrateBackgroundDialog()"
      ></p-button>
    </uwb-footer-buttons>
  </div>
</div>
