<div class="single_table_with_5buttons">
  <uwb-table
  [columns]="columns"
  [values]="backgrounds"
  (selectionChange)="onBackgroundSelect($event)"
  >
  </uwb-table>
  <div class="buttons_container_center">
    <uwb-footer-buttons
      [styleClass]="'col px-2'"
      [disabledEditAndDeleteButton]="selectedBackground === undefined"
      (emitAddClick)="openDialog()"
      (emitEditClick)="openDialog(true)"
      (emitDeleteClick)="openDeleteDialog()"
    >
      <p-button
      class="col px-2"
      [disabled]="selectedBackground === undefined"
      label="{{ 'global.buttons.preview' | translate }}"
      (onClick)="openPreviewBackgroundDialog()"
      ></p-button>
      <p-button
      class="col px-2"
      [disabled]="selectedBackground === undefined"
      label="{{ 'global.buttons.calibrate' | translate }}"
      (onClick)="openCalibrateBackgroundDialog()"
      ></p-button>
    </uwb-footer-buttons>
  </div>
</div>


<uwb-dialog [visible]="showPreviewBackgroundDialog" [header]="'background.dialog.header'" [width]="'60%'" (emitClose)="showPreviewBackgroundDialog = false">
  <div class="background-preview flex justify-content-center">
    <img [src]="selectedBackground?.path">
  </div>
</uwb-dialog>
