.spinner {
  max-width: 25%;
  max-height: 7vw;
  opacity: 75%;
  animation: spin 0.5s linear infinite; /* Ustawienie animacji */
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Początkowy obrót obrazka */
  100% { transform: rotate(360deg); } /* Obrót obrazka o pełne 360 stopni */
}


.spinner-img3 {
  img {
    width: 220px;
  }
}

.spinner-img2 {
  img {
    width: 180px;
  }
}

.spinner-img1 {
  img {
    width: 140px;
  }
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out, visibility 1s linear;
}

/* Klasa do ukrywania elementu */
.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s linear;
}
