<div class="single_map_with_navbar">
  <div class="grid align-items-end">
    <uwb-single-select
      class="col-11"
      [items]="backgrounds"
      optionLabel="name"
      label="{{ 'localization.backgrounds' | translate }}"
      (modelChange)="onBackgroundSelect($event)"
      [itemTemplate]="itemTemplate"
    >
      <ng-template #itemTemplate let-item="item" pTemplate="item">
        <div class="flex align-items-center" pTooltip="{{ item.name }}">
          <img [src]="item.path" style="height: 30px" />
          {{ item.name }}
        </div>
      </ng-template>
    </uwb-single-select>
    <div class="col-1 flex justify-content-center">
      <p-button icon="pi pi-cog" [disabled]="selectedBackground === undefined" pTooltip="{{ 'localization.details.mapOptions' | translate }}" (onClick)="ol.toogleOverlay($event)"></p-button>
    </div>
  </div>
  <uwb-map-localizations [background]="selectedBackground?.fullPath!" [localizations]="localizations" [anchors]="selectedAnchors" [selectedAreas]="selectedAreas" [vertexes]="selectedAreasVertexes"></uwb-map-localizations>
</div>

<uwb-overlay #ol>
  <div class="grid justify-content-center align-items-center" style="width: 300px;">
    <uwb-multi-select
        class="col-12 p-0"
        [values]="selectedObjects"
        [showClear]="false"
        [items]="objects"
        optionLabel="name"
        label="{{ 'localization.objects' | translate }}"
        (emitSelectedOptions)="onObjectChange($event)"
      >
      </uwb-multi-select>
    <uwb-multi-select
        class="col-12 p-0"
        [showClear]="false"
        [items]="anchors"
        optionLabel="name"
        label="{{ 'localization.anchors' | translate }}"
        (emitSelectedOptions)="onAnchorChange($event)"
      >
      </uwb-multi-select>
      <uwb-multi-select
        class="col-12 p-0"
        [showClear]="false"
        [items]="areas"
        optionLabel="name"
        label="{{ 'localization.areas' | translate }}"
        (emitSelectedOptions)="onAreaChange($event)"
      >
      </uwb-multi-select>
  </div>
</uwb-overlay>
