<div class="h-full single_map_with_hight_navbar">
  <div class="grid">
    <uwb-tree-select
        class="col-12 mt-1"
        [treeSelectValue]="treeSelectItemSelected"
        [options]="treeSelectItems"
        [optionLabel]="'name'"
        [floatLabel]="false"
        [placeholder]="'background.organizationUnit' | translate"
        (modelChange)="onOrganizationUnitSelect($event)"
      ></uwb-tree-select>
    <uwb-single-select
      class="col pt-0 px-1"
      [items]="backgrounds"
      optionLabel="name"
      label="{{ 'localization.backgrounds' | translate }}"
      (modelChange)="onBackgroundSelect($event)"
      [itemTemplate]="itemTemplate"
    >
      <ng-template #itemTemplate let-item="item" pTemplate="item">
        <div class="flex align-items-center" pTooltip="{{ item.name }}">
          <img [src]="item.path" style="height: 30px" />
          {{ item.name }}
        </div>
      </ng-template>
    </uwb-single-select>
    <uwb-calendar class="col-3 pt-0 px-1 flex justify-content-center" [rangeMode]="true" [showTime]="true" (modelChange)="onDateChange($event)"></uwb-calendar>
    <uwb-single-select
        class="col-4 pt-0 px-1"
        [showClear]="false"
        [items]="objects"
        optionLabel="name"
        label="{{ 'localization.objects' | translate }}"
        (modelChange)="onObjectSelect($event)"
      >
    </uwb-single-select>
    <div class="col-1 pt-0 px-1 flex justify-content-center align-items-end" style="height: 80px;">
      <p-button icon="pi pi-search" [disabled]="!checkIsAllValid()" (onClick)="onLoadLocalizationsArchive()"></p-button>
    </div>
  </div>
  <uwb-heatmap [background]="selectedBackground?.fullPath!" [data]="localizations" [pointRadius]="radius" [pointBlur]="blur"></uwb-heatmap>
</div>
