<uwb-form
  [formGroup]="formGroup!"
  (ngSubmit)="onSave()"
  (cancel)="onCloseDialog()"
>
  <uwb-form-grid form-body>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="name" formControlName="name" [minLength]="2" [maxLength]="50" />
        <label htmlFor="name">{{ "objectType.name" | translate }}</label>
      </span>
      <uwb-input-warn *ngIf="formGroup?.get('name')?.touched && formGroup?.get('name')?.invalid" [minLength]="2" [maxLength]="50"></uwb-input-warn>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <uwb-tree-select
        [treeSelectValue]="selectedClient"
        [options]="treeSelectItems"
        formControlName="organizationUnitId"
        label="{{ 'objectType.organizationUnit' | translate }}"
        (modelChange)="onOrganizationUnitSelected($event)"
      ></uwb-tree-select>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <uwb-single-select
        [items]="dropdownItems"
        [optionLabel]="'name'"
        [itemValue]="'id'"
        formControlName="uwbObjectIconId"
        label="{{ 'objectType.icon' | translate }}"
        [itemTemplate]="itemTemplate"
      >
      <ng-template #itemTemplate let-item="item" pTemplate="item">
        <div class="flex align-items-center" pTooltip="{{ item.name }}">
          <img [src]="item.fullPath" style="height: 30px" class="pr-2" />
          {{ item.name }}
        </div>
      </ng-template>
    </uwb-single-select>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="flex justify-content-center align-items-center">
        <label class="mr-2" htmlFor="adminOnly">{{
          "objectType.adminOnly" | translate
        }}</label>
        <p-checkbox
          formControlName="adminOnly"
          [binary]="true"
          inputId="binary"
        ></p-checkbox>
      </span>
    </uwb-form-control>
  </uwb-form-grid>
</uwb-form>
