<div class="grid">
  <p-button
    [class]="styleClass"
    *ngIf="showAddButton"
    [disabled]="disabledAddButton"
    [icon]="mobileScreen ? 'pi pi-plus' : ''"
    [label]="mobileScreen ? '' : ('global.buttons.add' | translate)"
    [styleClass]="mobileScreen ? mobileScreenStyleButtons : smallScreen ? smallScreenStyleButtons : normalScreenStyleButtons"
    (onClick)="onAddClick()"
  ></p-button>
  <p-button
    [class]="styleClass"
    *ngIf="showEditButton"
    [disabled]="disabledEditAndDeleteButton"
    [icon]="mobileScreen ? 'pi pi-pencil' : ''"
    [label]="mobileScreen ? '' : ('global.buttons.edit' | translate)"
    [styleClass]="mobileScreen ? mobileScreenStyleButtons : smallScreen ? smallScreenStyleButtons : normalScreenStyleButtons"
    (onClick)="onEditClick()"
  ></p-button>
  <p-button
    [class]="styleClass"
    *ngIf="showDeleteButton"
    [disabled]="disabledEditAndDeleteButton"
    [icon]="mobileScreen ? 'pi pi-trash' : ''"
    [label]="mobileScreen ? '' : ('global.buttons.delete' | translate)"
    [styleClass]="mobileScreen ? mobileScreenStyleButtons : smallScreen ? smallScreenStyleButtons : normalScreenStyleButtons"
    (onClick)="onDeleteClick()"
  ></p-button>
  <ng-content></ng-content>
</div>
