<uwb-form
  [formGroup]="formGroup!"
  (ngSubmit)="onSave()"
  (cancel)="onCloseDialog()"
>
  <uwb-form-grid form-body>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="name" formControlName="name" />
        <label htmlFor="name">{{ "background.name" | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <uwb-tree-select
        [treeSelectValue]="selectedClient"
        [options]="treeSelectItems"
        [optionLabel]="'name'"
        formControlName="client"
        label="{{ 'background.client' | translate }}"
      ></uwb-tree-select>
    </uwb-form-control>
    <uwb-form-control *ngIf="!edit" [styleClass]="'col-12'">
      <uwb-file-upload
        [showUploadButton]="false"
        [showCancelButton]="false"
        [fileSize]="1000000000"
      ></uwb-file-upload>
    </uwb-form-control>
  </uwb-form-grid>
</uwb-form>
