<uwb-form
  [formGroup]="formGroup!"
  (ngSubmit)="onSave()"
  (cancel)="onCloseDialog()"
>
  <uwb-form-grid form-body>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="name" formControlName="name" minlength="2" maxlength="50" />
        <label htmlFor="name">{{ "background.name" | translate }}</label>
      </span>
      <uwb-input-warn *ngIf="formGroup?.get('name')?.touched && formGroup?.get('name')?.invalid" [minLength]="2" [maxLength]="50"></uwb-input-warn>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <uwb-tree-select
        [options]="treeSelectItems"
        [optionLabel]="'name'"
        formControlName="organizationUnitId"
        label="{{ 'background.organizationUnit' | translate }}"
      ></uwb-tree-select>
    </uwb-form-control>
    <uwb-form-control *ngIf="!edit" [styleClass]="'col-12'">
      <uwb-file-upload
        [showUploadButton]="false"
        [showCancelButton]="false"
        [urlPath]="'background/upload-file'"
        [fileSize]="1000000000"
        (emitSelectItem)="onBackgroundSelected($event)"
        (emitUploadedItems)="onBackgroundUploaded($event)"
      ></uwb-file-upload>
    </uwb-form-control>
  </uwb-form-grid>
</uwb-form>
