<uwb-form [formGroup]="formGroup!" (ngSubmit)="onSave()" (cancel)="onCloseDialog()">
  <uwb-form-grid form-body>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <p-password
          formControlName="oldPassword"
          [toggleMask]="true"
          class="p-password"
          [feedback]="false"
        ></p-password>
        <label for="oldPassword">{{ "profile.password.oldPassword" | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <p-password
          formControlName="password"
          [toggleMask]="true"
          class="p-password"
          [feedback]="false"
        ></p-password>
        <label for="password">{{ "profile.password.password" | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
          class="p-password"
          [feedback]="false"
        ></p-password>
        <label for="confirmPassword">{{ "profile.password.confirmPassword" | translate }}</label>
      </span>
    </uwb-form-control>
  </uwb-form-grid>
</uwb-form>
