<div class="single_table_with_5buttons">
  <uwb-table
  [columns]="columns"
  [values]="notifications"
  [showHeaderSelect]="true"
  (selectionChange)="onNotificationSelect($event)"
  >
    <uwb-tree-select
    [options]="treeSelectItems"
    [optionLabel]="'name'"
    [floatLabel]="false"
    [placeholder]="'background.organizationUnit' | translate"
    (modelChange)="onOrganizationUnitSelect($event)"
    ></uwb-tree-select>
  </uwb-table>
  <div class="buttons_container_center">
    <uwb-footer-buttons
      [styleClass]="'col px-2'"
      [disabledEditAndDeleteButton]="selectedNotificationConfig === undefined"
      (emitAddClick)="openDialog()"
      (emitEditClick)="openDialog(true)"
      (emitDeleteClick)="openDeleteDialog()"
    >
    </uwb-footer-buttons>
  </div>
</div>
