<div class="calibrate-map">
  <uwb-map
        class="w-full"
        [background]="selectedBackground?.path!"
        [drawableLineString]="true"
        (emitLengthLineString)="onDrawLineStringLengthChange($event)"
  ></uwb-map>
  <uwb-form [formGroup]="formGroup!" [disabledButtonOption]="mapLineLength === undefined" (ngSubmit)="onSave()" (cancel)="onCloseDialog()">
    <uwb-form-grid form-body>
      <uwb-form-control [styleClass]="'col-12 flex justify-content-center'">
        <span class="p-float-label">
          <input pInputText id="realValue" type="number" formControlName="realValue"/>
          <label htmlFor="realValue">{{ 'background.realValue' | translate }}</label>
        </span>
      </uwb-form-control>
    </uwb-form-grid>
  </uwb-form>
</div>
