<div class="single_table_with_buttons">
  <uwb-table
  [columns]="columns"
  [values]="users"
  [loading]="loading"
  [showHeaderSelect]="true"
  [(selection)]="selectedUser"
  >
    <uwb-tree-select
    [treeSelectValue]="treeSelectItemSelected"
    [options]="treeSelectItems"
    [optionLabel]="'name'"
    [floatLabel]="false"
    [placeholder]="'background.organizationUnit' | translate"
    (modelChange)="onOrganizationUnitSelect($event)"
  ></uwb-tree-select>
  </uwb-table>
  <div class="buttons_container_center">
    <uwb-footer-buttons
      [disabledEditAndDeleteButton]="selectedUser === undefined"
      (emitAddClick)="openDialog()"
      (emitEditClick)="openDialog(true)"
      (emitDeleteClick)="openDeleteDialog()"
    >
    </uwb-footer-buttons>
  </div>
</div>

