<div class="menu-bar" [ngClass]="{ 'collapsed': !isMenuVisible, 'hide': isMenuHide }">
  <div class="flex-space">
    <a *ngIf="mobileScreen" (click)="isMenuHide = !isMenuHide">
      <i class="pi pi-angle-left hide-menu-icon"></i>
    </a>
    <a *ngIf="!mobileScreen" class="mode-icon" (click)="switchTheme()" pTooltip="{{ 'global.menu.changeStyle' | translate }}" tooltipPosition="right">
      <div class="icon-container">
        <i [ngClass]="{ 'fade-out': !primaryTheme }" class="pi pi-sun text-lg"></i>
        <i [ngClass]="{ 'fade-out': primaryTheme }" class="pi pi-moon text-lg"></i>
      </div>
    </a>
    <a *ngIf="!mobileScreen" (click)="toggleMenuVisibility()">
      <!-- <fa-icon icon="bars" [fixedWidth]="true" class="menu-icon"></fa-icon> -->
      <i class="pi pi-bars menu-icon"></i>
    </a>
  </div>
  <ng-container *ngIf="!isMenuHide">
    <div *ngIf="!isMenuHide" class="logo-area">
      <a (click)="logoClick()" style="padding: 0; cursor: pointer;">
        <img src="../../../assets/images/uwb_logo.png">
      </a>
    </div>
    <div class="flex-center user-info" style="margin: 10px;">
      <label for="user" style="text-align: center;">{{account?.firstName}} {{account?.lastName}}</label>
    </div>
    <div class="flex-center flex-column mb-1">
      <a class="logout-item flex align-items-center pb-2" (click)="openProfileDialog()" id="logout" data-cy="logout" pTooltip="{{ 'global.menu.profile' | translate }}">
        <i class="pi pi-user font-bold" [ngClass]="{ 'mr-2 text-lg' : isMenuVisible, 'text-xl': !isMenuVisible }"></i>
        <span>{{ 'global.menu.profile' | translate }}</span>
      </a>
    </div>
    <div class="flex-center flex-column">
      <a class="logout-item flex align-items-center" (click)="logout()" id="logout" data-cy="logout"  pTooltip="{{ 'global.menu.logout' | translate }}">
        <i class="pi pi-power-off text-lg font-bold" [ngClass]="{ 'mr-2 text-lg' : isMenuVisible, 'text-xl': !isMenuVisible }"></i>
        <span>{{ 'global.menu.logout' | translate }}</span>
      </a>
    </div>
    <div tabindex="0" class="menu-search flex-center flex-column">
      <span tabindex="0" class="p-input-icon-left">
        <i tabindex="0" [ngClass]="{'hide': filterText !== ''}" class="pi pi-search"></i>
        <input class="border-none" tabindex="0" type="text" pInputText [(ngModel)]="filterText" (ngModelChange)="filterMenuItems(filterText)">
      </span>
    </div>

    <div class="menu-container">
      <p-panelMenu [model]="filteredItems" [style]="{'width':'100%'}">
      </p-panelMenu>
    </div>
  </ng-container>
</div>
