.main {
  display: grid;
  grid-template-columns: auto 1fr;
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

.menu {
  display: block;
  grid-row: 1;
  grid-column: 1;
  padding: 6px;
  background-color: var(--uwb-tab-background);
}

.page {
  // width: 100%;
  // display: grid;
  // grid-row: 1;
  // grid-column: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--uwb-background);
  border: none;
}

::ng-deep .page::-webkit-scrollbar {
  width: 12px;
}

::ng-deep .page::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--uwb-menu-scrollbar-thumb);
}

::ng-deep .page::-webkit-scrollbar-thumb:hover {
  background: var(--uwb-menu-scrollbar-thumb-hover);
}

::ng-deep .page::-webkit-scrollbar-track {
  background: var(--uwb-menu-scrollbar-track);
  background-color: transparent;
}
