
<uwb-form [formGroup]="formGroup!" (ngSubmit)="onSave()" (cancel)="onCloseDialog()">
  <uwb-form-grid form-body>
    <uwb-form-control labe="Imie">
      <span class="p-float-label">
        <input pInputText id="name" formControlName="firstName" />
        <label htmlFor="firstName">{{ 'user.firstName' | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control labe="Nazwisko">
      <span class="p-float-label">
        <input pInputText id="surname" formControlName="lastName" />
        <label htmlFor="lastName">{{ 'user.lastName' | translate }}</label>
      </span>
    </uwb-form-control>
    <!-- <uwb-form-control>
        <uwb-calendar formControlName="date" label="{{ 'user.dayOfBirth' | translate }}"></uwb-calendar>
    </uwb-form-control> -->
    <uwb-form-control>
      <span class="p-float-label">
        <input pInputText id="email" formControlName="email" />
        <label htmlFor="email">{{ 'user.email' | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control *ngIf="!edit">
      <span class="p-float-label">
        <p-password formControlName="password" [toggleMask]="true" class="p-password"></p-password>
        <label for="password">{{ 'user.password' | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control *ngIf="!edit">
      <span class="p-float-label">
        <p-password formControlName="confirmPassword" [toggleMask]="true" class="p-password"></p-password>
        <label for="confirmPassword">{{ 'user.confirmPassword' | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control>
      <uwb-tree-select
        [options]="treeSelectItems"
        [optionLabel]="'name'"
        formControlName="organizationUnitId"
        label="{{ 'user.organizationUnit' | translate }}"
      ></uwb-tree-select>
    </uwb-form-control>
    <uwb-form-control>
      <uwb-multi-select
      [items]="dropdownItems"
      [optionLabel]="'name'"
      [itemValue]="'id'"
      formControlName="roleIds"
      label="{{ 'user.roles' | translate }}"
      >
      </uwb-multi-select>
    </uwb-form-control>
    <!-- <uwb-form-control>
      <uwb-multi-select [items]="dropdownItems" [optionLabel]="'name'" formControlName="orgUnit" label="{{ 'user.organizationUnit' | translate }}"></uwb-multi-select>
    </uwb-form-control> -->
  </uwb-form-grid>
</uwb-form>
