<uwb-form
  [formGroup]="formGroup!"
  (ngSubmit)="onSave()"
  (cancel)="onCloseDialog()"
>
  <uwb-form-grid form-body>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="name" formControlName="name" />
        <label htmlFor="name">{{ "object.name" | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="secondName" formControlName="secondName" />
        <label htmlFor="secondName">{{ "object.secondName" | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="hexTagId" formControlName="hexTagId" />
        <label htmlFor="hexTagId">{{ "object.hexTagId" | translate }}</label>
      </span>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <uwb-tree-select
        [treeSelectValue]="selectedOrganizationUnit"
        [options]="treeSelectItems"
        [optionLabel]="'name'"
        label="{{ 'object.organizationUnit' | translate }}"
        (modelChange)="onOrganizationUnitSelected($event)"
      ></uwb-tree-select>
    </uwb-form-control>
    <uwb-form-control [styleClass]="'col-12'">
      <uwb-single-select
        [items]="dropdownObjectTypeItems"
        [optionLabel]="'name'"
        [itemValue]="'id'"
        formControlName="uwbObjectTypeId"
        label="{{ 'object.uwbObjectType' | translate }}"
      ></uwb-single-select>
    </uwb-form-control>
  </uwb-form-grid>
</uwb-form>
